<!-- portfolio -->
<section class="section doctors">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6 text-center">
				<div class="section-title">
					<h2>Services</h2>
					<div class="divider mx-auto my-4"></div>
					<p>
						We provide a wide range of services.
					</p>
				</div>
			</div>
		</div>

<!-- Prosthodontics 
Orthodontics
Endodontic and restorative
Dental implants &Lasers
Periodontal
Dental Extractions and surgeries 
Pedodontics
Periodontics
Cosmetics
Dental Radilogy
Dental jewellery 
Pathology 
Microbiology -->

		<div class="col-12 text-center mb-5">
			<div class="btn-group btn-group-toggle" data-toggle="buttons" style="flex-wrap: wrap;">
				<label class="btn active">
					<input type="radio" name="shuffle-filter" value="all" checked="checked" />All Services
				</label>
				<label class="btn">
					<input type="radio" name="shuffle-filter" value="prosthodontics" />Prosthodontics
				</label>
				<label class="btn">
					<input type="radio" name="shuffle-filter" value="orthodontics" />Orthodontics
				</label>
				<label class="btn">
					<input type="radio" name="shuffle-filter" value="endodontic and restorative" />Endodontic and restorative
				</label>
				<label class="btn">
					<input type="radio" name="shuffle-filter" value="dental implants & lasers" />Dental implants & Lasers
				</label>
				<label class="btn">
					<input type="radio" name="shuffle-filter" value="periodontics" />Periodontics
				</label>
				<label class="btn">
					<input type="radio" name="shuffle-filter" value="dental extractions and surgeries" />Dental Extractions and surgeries 
				</label>
				<label class="btn">
					<input type="radio" name="shuffle-filter" value="cosmetics" />Cosmetics
				</label>
				<label class="btn">
					<input type="radio" name="shuffle-filter" value="dental radilogy" />Dental Radilogy
				</label>
				<label class="btn">
					<input type="radio" name="shuffle-filter" value="dental jewellery" />Dental jewellery 
				</label>
				<label class="btn">
					<input type="radio" name="shuffle-filter" value="pathology" />Pathology 
				</label>
				<label class="btn">
					<input type="radio" name="shuffle-filter" value="microbiology" />Microbiology
				</label>
			</div>
		</div>

		<div class="row shuffle-wrapper portfolio-gallery">
			<div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item" data-groups='["prosthodontics"]'>
				<div class="position-relative doctor-inner-box">
					<div class="doctor-profile">
						<div class="service-img">
							<img src="images/services/prosthodontics.png" alt="Prosthodontics-img" class="img-fluid w-100" />
						</div>
					</div>
					<div class="content mt-3">
						<h4 class="mb-0"><a href="https://en.wikipedia.org/wiki/Prosthodontics">Prosthodontics</a></h4>
						<!-- <p>Cardiology</p> -->
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item" data-groups='["orthodontics"]'>
				<div class="position-relative doctor-inner-box">
					<div class="doctor-profile">
						<div class="service-img">
							<img src="images/services/orthodontics.png" alt="Orthodontics-image" class="img-fluid w-100" />
						</div>
					</div>
					<div class="content mt-3">
						<h4 class="mb-0">
							<a href="https://en.wikipedia.org/wiki/Orthodontics">Orthodontics</a>
						</h4>
						<!-- <p>Radiology</p> -->
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item" data-groups='["endodontic and restorative"]'>
				<div class="position-relative doctor-inner-box">
					<div class="doctor-profile">
						<div class="service-img">
							<img src="images/services/endodontic and restorative.png" alt="Endodontic-and-restorative-image" class="img-fluid w-100" />
						</div>
					</div>
					<div class="content mt-3">
						<h4 class="mb-0">
							<a href="doctor-single.html">Endodontic and restorative</a>
						</h4>
						<!-- <p>Dental</p> -->
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item" data-groups='["dental implants & lasers"]'>
				<div class="position-relative doctor-inner-box">
					<div class="doctor-profile">
						<div class="service-img">
							<img src="images/services/dental implants & lasers.png" alt="Dental-implants-&-Lasers-image" class="img-fluid w-100" />
						</div>
					</div>
					<div class="content mt-3">
						<h4 class="mb-0"><a href="#">Dental implants & Lasers</a></h4>
						<!-- <p>Pediatry</p> -->
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item" data-groups='["periodontics"]'>
				<div class="position-relative doctor-inner-box">
					<div class="doctor-profile">
						<div class="service-img">
							<img src="images/services/periodontics.png" alt="Periodontics-image" class="img-fluid w-100" />
						</div>
					</div>
					<div class="content mt-3">
						<h4 class="mb-0"><a href="https://en.wikipedia.org/wiki/Periodontology">Periodontics</a></h4>
						<!-- <p>Neurology</p> -->
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item" data-groups='["dental extractions and surgeries"]'>
				<div class="position-relative doctor-inner-box">
					<div class="doctor-profile">
						<div class="service-img">
							<img src="images/services/dental extractions and surgeries.png" alt="Dental Extractions and surgeries-image" class="img-fluid w-100" />
						</div>
					</div>
					<div class="content mt-3">
						<h4 class="mb-0"><a href="#">Dental Extractions and surgeries</a></h4>
						<!-- <p>Palmology</p> -->
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item" data-groups='["cosmetics"]'>
				<div class="position-relative doctor-inner-box">
					<div class="doctor-profile">
						<div class="service-img">
							<img src="images/services/cosmetics.png" alt="Cosmetics-image" class="img-fluid w-100" />
						</div>
					</div>
					<div class="content mt-3">
						<h4 class="mb-0">
							<a href="#">Cosmetics</a>
						</h4>
						<!-- <p>Cardiology</p> -->
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item" data-groups='["dental radilogy"]'>
				<div class="position-relative doctor-inner-box">
					<div class="doctor-profile">
						<div class="service-img">
							<img src="images/services/dental radiology.png" alt="Dental Radilogy-image" class="img-fluid w-100" />
						</div>
					</div>
					<div class="content mt-3">
						<h4 class="mb-0">
							<a href="https://en.wikipedia.org/wiki/Dental_radiography">Dental Radilogy</a>
						</h4>
						<!-- <p>Traumatology</p> -->
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item illustration" data-groups='["dental jewellery"]'>
				<div class="position-relative doctor-inner-box">
					<div class="doctor-profile">
						<div class="service-img">
							<img src="images/services/dental jewellery.png" alt="Dental jewellery-image" class="img-fluid w-100" />
						</div>
					</div>
					<div class="content mt-3">
						<h4 class="mb-0"><a href="#">Dental jewellery</a></h4>
						<!-- <p>Cardiology</p> -->
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item" data-groups='["pathology"]'>
				<div class="position-relative doctor-inner-box">
					<div class="doctor-profile">
						<div class="service-img">
							<img src="images/services/pathology.png" alt="Pathology-image" class="img-fluid w-100" />
						</div>
					</div>
					<div class="content mt-3">
						<h4 class="mb-0"><a href="#">Pathology</a></h4>
						<!-- <p>hematology</p> -->
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item illustration" data-groups='["microbiology"]'>
				<div class="position-relative doctor-inner-box">
					<div class="doctor-profile">
						<div class="service-img">
							<img src="images/services/microbiology.png" alt="Microbiology-image" class="img-fluid w-100" />
						</div>
					</div>
					<div class="content mt-3">
						<h4 class="mb-0"><a href="#">Microbiology</a></h4>
						<!-- <p>Dental</p> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /portfolio -->