<!-- Slider Start -->
<section class="banner">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-xl-7">
				<div class="block">
					<div class="divider mb-3"></div>
					<span class="text-uppercase text-sm letter-spacing ">Dental Care At Its <span class="banner-bold">Finest</span></span>
					<h1 class="mb-3 mt-3">Smile Bigger & Brighter With SVMDC</h1>
					
					<p class="mb-4 pr-5">SVMDC is one of the finest dental clinics in Kamareddy with over a <span class="banner-bold">decade</span> of expertise in <span class="banner-bold">100% safe</span> and <span class="banner-bold">painless</span> dentistry.</p>
					<div class="btn-container ">
						<a href="appoinment.html" target="_blank" class="btn btn-main-2 btn-icon btn-round-full">Make appoinment <i class="icofont-simple-right ml-2  "></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>